body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 sans-serif;
	background-color: #fff;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 5rem 0;
}

.intro-section {
	background-color: #3f6276;
}

.answers {
	width: 200px;
	display: inline-block;
	margin: 0.25em 1.5%;
}

.answers-section {
	background-color: #ffffff;
	background-size: cover;
	text-align: center;
}

.question-section {
	background-color: #ffffff;
	background-size: cover;
	text-align: center;
	padding: 6rem 0;
	font-size: 8rem;
}

p {
	font-family: "open sans";
	font-size: 3rem;
	color: #ffffff;
	text-align: center;
}

.p2 {
	font-family: "open sans" , sans-serif;
	font-size: 3rem;
	color: #ffffff;
	text-align: center;
	margin-top: -3rem;
}

#circle{
  background-color: #3f6276;
  display: inline-block;
  margin: 2rem 3rem;
  font-weight: bold;
  width: 160px;
  height: 160px;
  font-size: 7rem;
  text-align: center;
  color:white;
  text-transform: uppercase;
  border: 3px solid white;
  border-radius: 80px;
  box-shadow: 0 0 0 5px #3f6276;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#circle:hover{
  background-color: #174d6c;
  box-shadow:0 0 0 5px #174d6c;
}

.circle{
	text-align: center;
	padding-top: 5rem;
}	














