body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 5rem 0;
}

.intro-section {
	background-color: #3f6276;
}

.answers {
	width: 200px;
	display: inline-block;
	margin: 0.25em 1.5%;
}

.answers-section {
	background-color: #ffffff;
	background-size: cover;
	text-align: center;
}

p {
	font-family: "open sans";
	font-size: 3rem;
	color: #ffffff;
	text-align: center;
}

.p2 {
	font-family: "open sans";
	font-size: 3rem;
	color: #ffffff;
	text-align: center;
	margin-top: -3rem;
}


















